mixin alert-success(time)
    - if (messages && messages.success)
        each msg in messages.success
            div(
                class="alert alert-success alert-fixed"
                show-alert
                data-time=time
            )
                span #{msg}
                span(class="close-alert" close-alert) &times;

mixin alert-error(time)
    - if (messages && messages.error)
        each msg in messages.error
            div(
                class="alert alert-danger alert-fixed"
                show-alert
                data-time=time
            )
                span #{msg}
                span(class="close-alert" close-alert) &times;
