mixin form-change-status(path)
  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=path
  )

mixin form-delete-item(path)
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=path
  )
